@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    margin: 5vh;
    background-color: #3F1737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    font-family: "Pixelify Sans";
}

#heading{
    width: 48vw;
}

#heading > p {
    text-align: start;
    margin-bottom: 0;
    font-size: 20px;
}
#heading > h1{
    margin: 0;
    font-size: 50px;
    font-weight: 300;
}

#center-gif{
    height: 35vh;
}

#option-discrip{
    color: white;
    margin-top: 0;
    font-size: 20px;
}

#selector{
    display: flex;
    list-style-type: none;
    padding: 50px;
}

#selector > li{
    padding: 0px 8vw;
    color: white;
    font-size: 20px;
}